<%- include("header") -%>
<style>
    .about{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 100px;
    }
    .about-heading{
        color: blueviolet;
        font-family: 'Courier New', Courier, monospace;
        
    }
    .about-text{
        font-size: large;
        font-weight: 400;
        
    }
</style>
<div class="about">
    <div class="about-heading">
        <h1>Shortenn</h1>
    </div>
    <div class="about-text">
        <p>Shortenn is a url shortening utility which provides you a way to short url.</p>
    </div>
</div>


<%- include("footer") -%>