<%- include("header") -%>
<style>
    .error{
        display: flex;
        justify-content: center;
    }
    .error img{
        width: 90%;
        border-radius: 50%;
    }
</style>
<div class="error">
    <img src="../static/404.png" alt=" 404 not Found">
</div>

<%- include("footer") -%>