<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url-shortner</title>
</head>
<body>
    <h1>URL SHORTNER</h1>
    <% if (locals.id) { %>
        <p>Url Generated: http://localhost:8000/url/<%= id %></p>
    <% } %>
    <div>
        <form method="post" action="/url">
            <label>Enter your url: </label>
            <input type="text" name="url" placeholder="https://example.com"/>
            <button type="submit">Generate</button>
        </form>
    </div>
</body>
</html>